body{
background:#111;
color:white;
font-family:Arial;
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
display:grid;
grid-template-columns:320px 320px;
grid-template-rows:260px 260px;
gap:40px;
}

.block{
background:#1c1c1c;
border:3px solid #444;
border-radius:12px;
text-align:center;
text-decoration:none;
color:white;
padding:20px;
transition:0.3s;
}

.block:hover{
border-color:#ffffff;
transform:scale(1.05);
}

.block img{
width:100%;
border-radius:8px;
margin-top:10px;
}

.top{
grid-column:1 / span 2;
}

.left{
grid-column:1;
}

.right{
grid-column:2;
}
